p {
	font-size: 12px !important;
}

div{
	font-size: 12px ;
}

blockquote{
	font-size: 10px;
}

.new-background-color{
    --background: #278B9E;
    color:white;
}

.loading{
	height: 50px;
    width: 50px;
    margin: 0;
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translateY(-50%);
}

.hid{
    display:none;
}

