<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="cog"></ion-icon> Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>Seccion del pastor</h5>
        <ion-item>
          <ion-label position="floating"><ion-icon name="text-outline"></ion-icon> Titulo</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><ion-icon name="image-outline"></ion-icon> Imagen</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><ion-icon name="chatbubbles-outline"></ion-icon> Mensaje</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        
        <h5><ion-icon name="logo-youtube" style="color:red"></ion-icon> Youtube en vivo</h5>
        <ion-item>
          <ion-label>URL</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <h5><ion-icon name="logo-facebook" style="color:#1192F4"></ion-icon> Facebook en vivo</h5>
        <ion-item>
          <ion-label>URL</ion-label>
          <ion-input></ion-input>
        </ion-item>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>