.swiper-pagination{
	margin-top:10px !important;
}

//.recomendaciones{
//	height: 45vh;
//}

//.registro{
//	height: 40vh;
//}

.titles{
	margin:0px;
	padding:0px;
}

.slide-cards{
	margin:0px;
	padding:0px;
}

ion-card{
	margin-top:5px;
}

.rec-text{
	font-size: 12px;
	padding: 0px;
	margin-bottom: 0px;
}

.personas-text{
	margin-bottom: 0px;
}

.new-background-color{
    --background: #278B9E;
    color:white;
}

ion-label{
	margin: 0px;
	padding:0px;
}

.text-reg{
	padding:0px;
	margin:0px;
	padding-left:15px;

}
.asistentes{
	font-size:11px;
}
